@{
    ViewBag.Title = "Home Page";
}

<section class="main-banner"></section>

<section class="main-title">
	<span class="company-name">PIXELWARE</span> <br /> A menor loja de games do país!
</section>

<div class="row justify-at-center main-content">
	<div class="flex-column col-md-6 col-xs-12 justify-at-center">
		<div class="col-md-12 col-xs-11 justify-at-center">
			Venha conferir nossos games e publishers!
		</div>

		<div class="col-md-12 col-xs-11 justify-at-center">
			<div class="col-md-6 col-xs-10 flex-row">
				<a href="/Games">
					<button class="button-get-to-know">
						Games
					</button>
				</a>
			</div>

			<div class="col-md-6 col-xs-10 flex-row">
				<a href="/Publishers">
					<button class="button-get-to-know">
						Publishers
					</button>
				</a>
			</div>
		</div>
	</div>
</div>

<section class="footer-banner"></section>

