<nav class="navbar">
	<div class="main-nav-bar">
		@Html.ActionLink("Pixelware", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
		@Html.ActionLink("Games", "Index", "Games", new { area = "" }, new { @class = "main-nav-item" })
		@Html.ActionLink("Publishers", "Index", "Publishers", new { area = "" }, new { @class = "main-nav-item" })
	</div>
</nav>