@model PixelwareApp.Models.Publisher

@{
	ViewBag.Title = Model.Name;
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="details-title">
	<h2 class="publisher-name">@Model.Name</h2>
</section>
