
$bp-md: 600px;
$bp-xmd: 800px;
$bp-lg: 1200px;
$bp-xlg: 1640px;

:root {
	--primary-blue: #0c163d;
	--primary-orange: #e26b00;
	--primary-yellow: #f4c500;
	--delay: 700ms;
	--cubic: cubic-bezier(0.19, 1, 0.22, 1);
}

.games-section {
	display: grid;
	grid-gap: 1.2rem;
	padding: 1rem;
	max-width: 90%;
	margin: 0 auto;
	color: #FFF;

	@media (min-width: $bp-md) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media (min-width: $bp-xmd) {
		grid-template-columns: repeat(3, 1fr);
	}

	@media (min-width: $bp-xlg) {
		grid-template-columns: repeat(4, 1fr);
	}

	@media (min-width: $bp-xlg) {
		grid-template-columns: repeat(5, 1fr);
	}
}

.game-card {
	position: relative;
	display: flex;
	align-items: flex-end;
	overflow: hidden;
	padding: 1rem;
	width: 100%;
	text-align: center;
	color: whitesmoke;
	background-size: cover;
	background-color: whitesmoke;
	background-position: center;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 2px 2px rgba(0,0,0,0.1), 0 4px 4px rgba(0,0,0,0.1), 0 8px 8px rgba(0,0,0,0.1), 0 16px 16px rgba(0,0,0,0.1);

	@media (min-width: $bp-md) {
		height: 370px;
	}

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 110%;
		background-size: cover;
		background-position: 0 0;
		transition: transform calc(var(--delay) * 1.5) var(--cubic);
		pointer-events: none;
	}

	&:after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 200%;
		pointer-events: none;
		background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, 0.009) 11.7%, hsla(0, 0%, 0%, 0.034) 22.1%, hsla(0, 0%, 0%, 0.072) 31.2%, hsla(0, 0%, 0%, 0.123) 39.4%, hsla(0, 0%, 0%, 0.182) 46.6%, hsla(0, 0%, 0%, 0.249) 53.1%, hsla(0, 0%, 0%, 0.320) 58.9%, hsla(0, 0%, 0%, 0.394) 64.3%, hsla(0, 0%, 0%, 0.468) 69.3%, hsla(0, 0%, 0%, 0.540) 74.1%, hsla(0, 0%, 0%, 0.607) 78.8%, hsla(0, 0%, 0%, 0.668) 83.6%, hsla(0, 0%, 0%, 0.721) 88.7%, hsla(0, 0%, 0%, 0.762) 94.1%, hsla(0, 0%, 0%, 0.790) 100% );
		transform: translateY(-50%);
		transition: transform calc(var(--delay) * 2) var(--cubic);
	}
}

.game-card-content {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 1rem;
	transition: transform var(--delay) var(--cubic);
	z-index: 1;
	color: #FFF;

	> * + * {
		margin-top: 1rem;
	}
}

.game-card-title {
	font-size: 1.4rem;
	font-weight: bold;
	line-height: 1.2;
	color: #FFF;
	background-color: rgba(0,0,0, 0.7);
	border-radius: 10px;
	padding: 2px 8px;
}

.game-card-description {
	font-size: 1rem;
	font-style: italic;
	line-height: 1.35;
	white-space: pre-wrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 250px;
	max-height: 130px;
	opacity: 0;
}

.game-card-btn {
	cursor: pointer;
	margin-top: 1.5rem;
	padding: 0.75rem 1.5rem;
	font-size: 0.65rem;
	font-weight: bold;
	letter-spacing: 0.025rem;
	text-transform: uppercase;
	color: white;
	background-color: black;
	border: none;
	opacity: 0;

	&:hover {
		background-color: lighten(black, 5%);
	}

	&:focus {
		outline: 1px dashed var(--primary-yellow);
		outline-offset: 3px;
	}
}

@media (hover: hover) and (min-width: $bp-md) {
	.game-card:after {
		transform: translateY(0);
	}

	.game-card-content {
		transform: translateY(calc(100% - 4.5rem));

		> *:not(.title) {
			transform: translateY(1rem);
			transition: transform var(--delay) var(--cubic), opacity var(--delay) var(--cubic);
		}
	}

	.game-card:hover,
	.game-card:focus-within {
		align-items: center;
		text-decoration: none;

		&:before {
			transform: translateY(-4%);
		}

		&:after {
			transform: translateY(-50%);
		}

		.game-card-content {
			transform: translateY(0);

			> *:not(.title) {
				opacity: 1;
				transform: translateY(0);
				transition-delay: calc(var(--delay) / 8);
			}
		}

		.game-card-title {
			background-color: transparent;
		}
	}

	.game-card:focus-within {
		&:before,
		&:after,
		.game-card-content,
		.game-card-content > *:not(.title) {
			transition-duration: 0s;
		}
	}
}
