:root {
  --primary-blue: #0c163d;
  --primary-orange: #e26b00;
  --primary-yellow: #f4c500;
  --delay: 700ms;
  --cubic: cubic-bezier(0.19, 1, 0.22, 1); }

.games-section {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
  color: #FFF; }
  @media (min-width: 600px) {
    .games-section {
      grid-template-columns: repeat(2, 1fr); } }
  @media (min-width: 800px) {
    .games-section {
      grid-template-columns: repeat(4, 1fr); } }

.game-card {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-size: cover;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1); }
  @media (min-width: 600px) {
    .game-card {
      height: 380px; } }
  .game-card:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-size: cover;
    background-position: 0 0;
    transition: transform calc(var(--delay) * 1.5) var(--cubic);
    pointer-events: none; }
  .game-card:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    pointer-events: none;
    background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
    transform: translateY(-50%);
    transition: transform calc(var(--delay) * 2) var(--cubic); }

.game-card-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--delay) var(--cubic);
  z-index: 1;
  color: #FFF; }
  .game-card-content > * + * {
    margin-top: 1rem; }

.game-card-title {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.2;
  color: #FFF; }

.game-card-description {
  font-size: 1rem;
  font-style: italic;
  line-height: 1.35;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px;
  max-height: 130px;
  opacity: 0; }

.game-card-btn {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
  opacity: 0; }
  .game-card-btn:hover {
    background-color: #0d0d0d; }
  .game-card-btn:focus {
    outline: 1px dashed var(--primary-yellow);
    outline-offset: 3px; }

@media (hover: hover) and (min-width: 600px) {
  .game-card:after {
    transform: translateY(0); }
  .game-card-content {
    transform: translateY(calc(100% - 4.5rem)); }
    .game-card-content > *:not(.title) {
      transform: translateY(1rem);
      transition: transform var(--delay) var(--cubic), opacity var(--delay) var(--cubic); }
  .game-card:hover,
  .game-card:focus-within {
    align-items: center;
    text-decoration: none; }
    .game-card:hover:before,
    .game-card:focus-within:before {
      transform: translateY(-4%); }
    .game-card:hover:after,
    .game-card:focus-within:after {
      transform: translateY(-50%); }
    .game-card:hover .game-card-content,
    .game-card:focus-within .game-card-content {
      transform: translateY(0); }
      .game-card:hover .game-card-content > *:not(.title),
      .game-card:focus-within .game-card-content > *:not(.title) {
        opacity: 1;
        transform: translateY(0);
        transition-delay: calc(var(--delay) / 8); }
  .game-card:focus-within:before, .game-card:focus-within:after,
  .game-card:focus-within .game-card-content,
  .game-card:focus-within .game-card-content > *:not(.title) {
    transition-duration: 0s; } }
