
:root {
    --primary-blue: #0c163d;
    --primary-orange: #e26b00;
    --primary-yellow: #f4c500;
}

body {
    padding-bottom: 20px;
    font-family: Roboto, "Source Sans Pro", 'Franklin Gothic Medium', Arial, sans-serif;
}

.body-content {
    width: 85%;
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}

.justify-at-center {
    display: flex;
    justify-content: center;
}

.company-name {
    font-family: 'Fredoka One';
    font-size: 80px;
}

.navbar {
    background: linear-gradient(rgb(12, 22, 61) 30%, rgb(0, 0, 0) 90%);
    margin-bottom: 25px;
    border-left: 0;
    border-right: 0;
    color: #FFF;
}

.main-nav-bar {
    width: 100%;
}

.navbar-brand {
    font-size: 26px;
    padding: 8px 100px 8px 50px;
    color: #FFF;
    font-family: 'Fredoka One';
    text-transform: uppercase;
    letter-spacing: 1px;
}

    .navbar-brand:hover {
        color: var(--primary-yellow);
        transition: color 0.3s ease;
    }

.main-nav-item {
    padding: 14px;
    font-size: 16px;
    color: #FFF;
    margin-right: 7px
}

    .main-nav-item:hover {
        color: var(--primary-blue);
        text-decoration: none;
        border-radius: 10px;
        background-color: var(--primary-yellow);
        transition: background-color 0.3s ease;
        -webkit-transition: background-color 0.3s ease;
    }

.main-banner {
    width: 100%;
    height: 520px;
    background-image: url('Images/gamer_setup.jpg');
    background-size: cover;
    background-position: center;
}

.footer-banner {
    width: 100%;
    height: 290px;
    background-image: url('Images/horizon-4.jpg');
    background-size: cover;
    background-position-y: 350px;
}

.main-title {
    font-size: 72px;
    text-align: center;
    margin-top: 15px;
    font-weight: 700;
}

.page-title {
    margin-bottom: 20px;
}

.main-content {
    margin-top: 80px;
    margin-bottom: 80px;
    font-size: 20px;
}

.button-get-to-know {
    width: 90%;
    height: 80px;
    color: #FFF;
    background-color: var(--primary-blue);
    border: 1px solid var(--primary-blue);
    border-radius: 10px;
    margin-top: 30px;
    font-size: 20px;
}

    .button-get-to-know:hover {
        color: var(--primary-orange);
        font-weight: bold;
        transition: color 0.3s ease;
    }

.publishers-section {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.publisher-card {
    border: 1px solid #000;
    border-left: 20px solid var(--primary-blue);
    border-radius: 10px;
    width: 100%;
    height: 120px;
    font-size: 30px;
    margin: 10px;
}

    .publisher-card a {
        color: var(--primary-blue);
    }

    .publisher-card:hover {
        background-color: var(--primary-blue);
        transition: background-color 0.2s linear;
    }

    .publisher-card:hover a {
        color: var(--primary-orange);
        transition: background-color 0.2s linear;
    }

    .publisher-card p {
        margin: 0;
    }

.publisher-card-title {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .publisher-card-title:hover {
        text-decoration: none;
    }

.details-title {
    width: 100%;
    text-align: center;
}

.publisher-name {
    font-size: 80px;
    font-weight: 700;
    background: linear-gradient(to right, var(--primary-yellow) 10%, var(--primary-blue) 50%, var(--primary-orange) 60%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2.5s linear infinite;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}
