
:root {
    --primary-blue: #0c163d;
    --primary-orange: #e26b00;
    --primary-yellow: #ffe10e;
}

body {
    padding-bottom: 0;
    font-family: Roboto, "Source Sans Pro", 'Franklin Gothic Medium', Arial, sans-serif;
}

.body-content {
    width: 100%;
    padding: 0;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}

.justify-at-center {
    display: flex;
    justify-content: center;
}

.company-name {
    font-family: 'Fredoka One';
    font-size: 80px;
}

.navbar {
    background: linear-gradient(rgb(12, 22, 61) 30%, rgb(0, 0, 0) 90%);
    border-style: none;
    border-left: 0;
    border-right: 0;
    color: #FFF;
}

.main-nav-bar {
    width: 100%;
}

.navbar-brand {
    font-size: 30px;
    padding: 8px 100px 8px 50px;
    color: #FFF;
    font-family: 'Fredoka One';
    text-transform: uppercase;
    letter-spacing: 1px;
}

    .navbar-brand:hover {
        color: var(--primary-yellow);
        transition: color 0.3s ease;
    }

.main-nav-item {
    padding: 14px;
    font-size: 16px;
    color: #FFF;
    margin-right: 7px
}

    .main-nav-item:hover {
        color: var(--primary-blue);
        text-decoration: none;
        border-radius: 10px;
        background-color: var(--primary-yellow);
        transition: background-color 0.3s ease;
        -webkit-transition: background-color 0.3s ease;
    }

.main-banner {
    width: 100%;
    height: 520px;
    background-image: url('Images/gamer_setup.jpg');
    background-size: cover;
    background-position: center;
}

.footer-banner {
    width: 100%;
    height: 290px;
    background-image: url('Images/horizon-4.jpg');
    background-size: cover;
    background-position-y: 360px;
}

.main-title {
    font-size: 72px;
    text-align: center;
    margin-top: 15px;
    font-weight: 700;
}

.page-title {
    margin-bottom: 20px;
    font-size: 32px;
}

@media (min-width: 1600px) {
    .page-title {
        margin-left: 7%;
    }
}

.main-content {
    margin: 80px 0 80px 0;
    font-size: 20px;
}

.inner-content {
    max-width: 80%;
    margin: 0 auto;
    margin-top: 25px;
}

.button-get-to-know {
    width: 90%;
    height: 80px;
    color: #FFF;
    background-color: var(--primary-blue);
    border: 1px solid var(--primary-blue);
    border-radius: 10px;
    margin-top: 30px;
    font-size: 20px;
}

    .button-get-to-know:hover {
        color: var(--primary-orange);
        font-weight: bold;
        transition: color 0.3s ease;
    }

.publishers-section {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.publisher-card {
    border: 1px solid #000;
    border-left: 20px solid var(--primary-blue);
    border-radius: 10px;
    width: 100%;
    height: 120px;
    font-size: 30px;
    margin: 10px;
}

    .publisher-card a {
        color: var(--primary-blue);
    }

    .publisher-card:hover {
        background-color: var(--primary-blue);
        transition: background-color 0.2s linear;
    }

    .publisher-card:hover a {
        color: var(--primary-orange);
        transition: background-color 0.2s linear;
    }

    .publisher-card p {
        margin: 0;
    }

.publisher-card-title {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .publisher-card-title:hover {
        text-decoration: none;
    }

.publisher-details-title {
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.publisher-name {
    font-size: 80px;
    font-weight: 700;
    background: linear-gradient(to right, var(--primary-yellow) 10%, var(--primary-blue) 50%, var(--primary-orange) 60%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2.5s linear infinite;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

#game-details-section {
    max-width: 50%;
    margin: 0 auto;
    margin-top: 60px;
}

@media (max-width: 1400px) {
    #game-details-section {
        max-width: 70%;
    }
}

.game-details-card {
    display: flex;
    width: 100%;
    height: 100%;
    border: 1px solid var(--primary-blue);
    border-radius: 10px;
    font-weight: 400;
}

.game-details-image-container {
    width: 30%;
    min-height: 400px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-size: cover;
}

.game-details-information {
    width: 70%;
    padding: 20px;
    color: #FFF;
    background-color: var(--primary-blue);
}

.game-details-name {
    color: var(--primary-yellow);
}

.game-details-information h4 {
    font-weight: 400;
}

.buy-game-btn {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-border-radius: 10px;
    -webkit-box-shadow: 0px 3px rgba(72,71,71,1), 0px 4px rgba(72,72,72,1), 0px 5px rgba(68,68,68,1), 0px 6px rgba(64,64,64,1), 0px 7px rgba(35,35,35,1), 0px 8px rgba(21,20,20,1), 0px 14px 6px -4px rgba(0,0,0,1); /* shadow */
    -webkit-transition: -webkit-box-shadow .1s ease-in-out;
}

.buy-game-btn span {
    background-color: var(--primary-yellow);
    -webkit-background-size: 100%, 100%, 100%, 4px 4px;
    -webkit-border-radius: 10px;
    -webkit-transition: -webkit-transform .1s ease-in-out;
    display: inline-block;
    padding: 10px 35px 10px 35px;
    color: var(--primary-blue);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 22px;
    user-select: none;
    text-shadow: 0px 1px #fff, 0px -1px #262F33;
}

    .buy-game-btn span:hover {
        text-shadow: 0px -1px var(--primary-blue);
        cursor: pointer;
    }

    .buy-game-btn:active {
        -webkit-box-shadow: 0px 3px rgba(72,71,71,1), 0px 4px rgba(72,72,72,1), 0px 5px rgba(68,68,68,1), 0px 6px rgba(64,64,64,1), 0px 7px rgba(35,35,35,1), 0px 8px rgba(21,20,20,1), 0px 10px 2px 0px rgba(0,0,0,.6); /* shadow */
    }

    .buy-game-btn:active span {
        -webkit-transform: translate(0, 5px);
    }

.buy-game-btn span:after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    right: 14px;
    top: 12px;
    font-weight: 700;
    color: #AEBF3B;
    text-shadow: 0px 1px #fff, 0px -1px #97A63A;
    font-size: 26px;
}

@media (max-width: 700px) {
    .navbar {
        padding-bottom: 15px;
    }

    .navbar-brand {
        padding: 8px 100px 8px 10px;
    }

    .main-nav-item {
        padding: 14px 14px 14px 10px;
    }

    .company-name {
        font-size: 60px;
    }

    .main-title {
        font-size: 42px;
    }

    .inner-content {
        max-width: 85%;
    }

    .main-content {
        margin: 50px 0 80px 0;
        text-align: center;
    }

    .footer-banner {
        height: 180px;
        background-repeat: no-repeat;
        background-position-y: -40px;
    }
}